.referee--scoreboard {
  position: relative;
  text-align: center;
  background: $gray-dark;
}

.referee--footer {
  position: absolute;
  top: 16px;
  width: 100%;
  text-align: center;
}

.referee--change-sides {
}
