.score-board {
  position: relative;

  &--title {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: $font-size-sm;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  &--teams {
    display: flex;
  }

  &--team {
    flex: 1;
  }
}
