.team-score {
  text-align: center;
  padding: 15px;

  &--title {
    display: none;
  }

  &--avatar {
    width: 48px;
    height: 48px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    border-radius: 100%;
    background: #FCC;

    &__visitor {
      background: #CCF;
    }
  }

  &--abbr {
    flex: 1;
    text-align: center;
  }

  &--name {
    font-size: 12px;
    font-weight: bold;
  }

  &--points {
    font-weight: bold;
    font-size: 48px;
  }
}

@include media-breakpoint-up(sm) {
  //
  .team-score {
    display: flex;

    &__visitor {
      flex-direction: row-reverse;
    }

    &--team {
      flex: 1 1 auto;
    }

    &--points {
      width: 80px;
    }
  }
}

@include media-breakpoint-up(md) {
  .team-score {
    &--team {
      display: flex;
      align-items: center;
    }

    &__visitor .team-score--team {
      flex-direction: row-reverse;
    }

    &--name {
      flex: 1 1 auto;
      font-size: 24px;
    }
  }
}
