.team-score {
  text-align: center;
  padding: 15px;

  &--title {
    display: none;
  }

  &--avatar {
    width: 48px;
    height: 48px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    border-radius: 100%;
    background: #FCC;

    &__visitor {
      background: #CCF;
    }
  }

  &--abbr {
    flex: 1;
    text-align: center;
  }

  &--name {
    font-size: 12px;
    font-weight: bold;
  }

  &--points {
    font-weight: bold;
    font-size: 48px;
  }
}
