.timeline-entry {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-entry__node {
  margin: 8px 0;
  padding: 4px 0;
  width: 40px;
  height: 32px;
  text-align: center;
  background: $gray-lighter;
  font-size: $font-size-sm;
  color: $gray;
}

.timeline-entry__labels {
  position: absolute;
  width: 0px;
  top: 0;
  height: 48px;
}

.timeline-entry__label {
  height: 32px;
  position: absolute;
  top: 8px;
  display: flex;
  align-items: center;
}

.timeline-entry__label--left {
  right: 48px;
  flex-direction: row;
}

.timeline-entry__label--right {
  left: 48px;
  flex-direction: row-reverse;
}

.timeline-entry__label__title {
  display: none;
}

.timeline-entry__label__points {
  width: 100%;
}

.timeline-entry__undo {
  width: 32px;
  height: 32px;
  padding: 4px;
}
